<p>
<p>
UPDATE 9.9.2019:  Byla zveřejněna téměř <b><%= link_to "finální verze pravidel", rules_path %></b>. Doporučujeme si je pročíst, od minulého ročníku došlo k výrazným změnám. Případné dotazy na email, viz níže.
</p>
<b>Kolečko</b> je městská a terénní noční <b>šifrovací hra</b>, cílená především na <b>začátečníky</b> a středně pokročilé týmy. Letošní ročník - iKolečko - bude nelineární a ozvláštní ho nový systém P2P nápověd.
</p><p>
Hra se uskuteční <b>v noci z pátku 20.9.2019 na sobotu 21.9.2019</b>. Start kolem 18:00, konec v poledne. Registrace stále běží a bude ukončena 16.9. v 24:00.
</p><p>
<ul>
<li>Kolečko se tradičně odehrává <b>v Brně nebo okolí</b> (max. cca 45min MHD), letošní ročník nebude vyjímka.</li>
<li>Hry se účastní <b>3 členné týmy</b> (4 členné pokud se jedná o úplné začátečníky - méně jak pět šifrovacích her a žádné umístění v první polovině startovního pole na velkých hrách typu TMOU/Napalmně/iNula).</li>
<li>Tento rok jsme prošli modernizací, zprovoznili websystém, přešli na nový netradiční systém P2P nápověd a celkově se proměnili v šifrovačku postavenou na moderních technologiích 21. století. Stejného tématu moderních technologií se bude držet i hra.</li>
<li>Letos bude ke hře potřeba <b>přístroj s připojením k internetu a další běžnou konektivitou</b> (tj. smartphone/tablet/notebook) s podporou standardních webových technologií, který pravděpodobně využijete víc než jen na zadávání průchodu hrou.</li>
<li>Obtížnost šifer by měla být podobná jako loni, viz archiv minulého ročníku.</li>
<li>Hra je cílená především na začínající nebo sváteční týmy, ale nebráníme se ani zkušeným hráčům.
Nicméně v takovém případě se Vám může stát, že budete mít po půlnoci vše vyluštěno.
<li>Startovné bude upřesněno dle nákladů až těsně přede hrou (platba pak pravděpodobně v hotovosti na startu), nicméně neočekáváme více jak 500Kč na tým, zatím to vypadá, že spíše méně.</li>
<li>V případě jakýchkoli dotazů nás můžete kontaktovat na "okolecko zavináč gmail tečka com".</li>
</ul>
<p>
Za organizátorský tým se těší
Paulie, Fredy, Dejv, Dejv, Vanda, Vašek a Petr (tým Nevíš)
</p>
