<h1>Šifrovací hra Kolečko</h1>

<p>
Ročník 2019 iKolečko je úspěšně za námi.
Vítezem se stal tým KaM, gratulejeme.
Podrobný <%= link_to "průchod týmů hrou a výsledky", archive_results_path('2019') %>  můžete najít v archivu, kde jsou také samozřejmě i 
<%= link_to "řešení", archive_puzzles_path('2019') %>
a <%= link_to "statistiky šifer", archive_stats_path('2019') %>.
Letos se zúčastnilo rekordní množství týmů, celkem 21, děkujeme za podporu.
Tento ročník trochu poznamenaly problémy s novým websystémem, ale snad to nikomu moc nepokazilo hru, koneckonců to nakonec dopadlo o dost lépe než websystém na kvalifikaci TMOU ;-) .
Letos se navíc pravděpodobně jednalo o poslední ročník v režii týmu Nevíš, takže příští rok se můžete těšit na zbrusu nový (nebo tedy nejspíš staronový) organizační tým a možná Vás čeká i Čtvereček!
Nakonec také chceme poděkovat lidem z sifrovacky.cz za poskytnutou doménu a technickou podporu.
</p>
<p>
Pokud máte v mezičase nějaké dotazy k čemukoli (případně chcete být informováni o dalších ročnících), stále nám můžete psát na "okolecko zavináč gmail tečka com"
</p>

<p>
Za organizátorský tým
Paulie, Fredy, Dejv, Dejv, Vanda, Vašek a Petr (tým Nevíš)
</p>
