<h1>Seznam týmů</h1>
<ul>
<% @teams.each do |team| %>
  <li>
      <strong><%= team.name %></strong>
      <%
        players = [
          team.player1_name,
          team.player2_name,
          team.player3_name,
          team.player4_name,
        ].reject(&:blank?)
      %>
      (<%= players.join(', ') %>)
  </li>
<% end %>
</ul>
