<h1>Šifry a řešení</h1>


<h2 class="puzzle_name">Čmáranice - vedlejší šifra</h2>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/cmaranice.pdf" download>Čmáranice</a></p>

<p class="hint_link" onclick="togglePuzzleHint('1')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_1">
- Co nahradilo T9?<br>
- GogleSwipeKlvesnice<br>
- Vemte si mobil
</p>

<p class="solution_link" onclick="togglePuzzleSolution('1')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_1">
Jednotlivé čmáranice značí tahy "swipes" po mobilové QWERTZ klávesnici (jejíž obrys je naznačen pomocí rohů).
Řešení je MILE TYMY RESENI TETO SIFRY JE NEJVETSI PLANETA SLUNECNI SOUSTAVY, tj. JUPITER.
<br>
<img src="/iKolecko2019/cmaranice-reseni.png" style="width:100%; max-width:500px">
</p>


<h2 class="puzzle_name">Hodina šifrování - vedlejší šifra</h2>
Do této šifry se nám vloudila menší chybička. Ve čtvrté podšifře od pátého čísla zprava odečtěte 11 (je tam 86, má tam být 75).

<iframe width="560" height="315" src="https://www.youtube.com/embed/Fk_QmeC4paE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p class="hint_link" onclick="togglePuzzleHint('2')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_2">
- První špatné<br>
- Org dělá chyby<br>
- Cti chybna pismena
</p>

<p class="solution_link" onclick="togglePuzzleSolution('2')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_2">
V šifře je pět ukázek jednotlivých šifrovacích principů. Pokud je prozkoumáme pozorně, zjistíme, že tam jsou nějaké chyby.
Například u první šifry, morseovky, má být řešení HESLO JE OKENICE, nicméně předposlední písmeno v zobrazené šifře není C ale K.
Pokud takto najdeme chybu v každé z pěti podšifer, dostaneme heslo KAVKA.
</p>


<h2 class="puzzle_name">iKolečkOS - vedlejší šifra</h2>

<p class="puzzle_description">
U stanoviště této šifry byl na plotě papír s obrazcem v němž bylo schováno logo Bluetooth.
Po zapnutí Bluetooth se týmům zobrazilo zařízení Kolecko-rpi a po spárování jim byl přes Bluetooth poslán html soubor
se šifrou. Ta běžela v javascriptu v prohlížeči.
</p>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/iKoleckOS.html" target=new>iKolečkOS</a></p>

<p>
K této šifře nebylo možné žádat o nápovědu. 
</p>

<p class="solution_link" onclick="togglePuzzleSolution('3')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_3">
Jednotlivé podšifry jsou schovány následovně:<br>
- Kontrola souborového systému: Než je souborový systém úplně opraven, je potřeba opakovat opravu 5x. Pokaždé je vynecháno jedno číslo na počítadle procent. Pokud čteme odpovídající písmena v abecedě, dostaneme heslo KOTEL.<br>
- Admin heslo: Po třech pokusech se zobrazí nápověda "You force heaven to be empty", to je mnemotechnicky přepsané heslo "U472BMT". Po jeho zadání se zobrazí kód PIVOVAR.<br>
- Nové vlastnosti: Při spuštění se nabízí úžasné nové vlastnosti systému. Pokud uživatel zvolí 3x určitě ano, získá heslo PLOTICE.<br>
- Plocha: Na ploše roste tráva s tmavými a světlými lístky. To je morseovka, která dává heslo AUTOMOBIL.<br>
- Spořič obrazovky: Spořič obrazovky průlet hvězdokupou, kde krom náhodně generovaných hvězd prolétávají i čtyři skutečná souhvězdí. Jsou to Malý vůz, Labuť, Orion a Kasipea. Jejich první písmena dají heslo MLOK.<br>
- Nápověda: Čteme písmena psané malými kapitálkami: PAZOUREK (v prohlížečích s horší podporou pro Unicode se místo nich zobrazují čtverečky).<br>
- Hledání min: Miny jsou pokaždé generovány na stejných místech, dále je možné si všimnout i tmavších čar vyznačujících větší skupiny 2x3 polí. Skupiny jsou písmena v Brailově písmu: OBKLADACKA.<br>
- BSOD: Po pádu systému který nastane cca po 15-30 minutách můžeme najít ve výpisu paměti zapsané pomocí šestnáctkové soustavy heslo SKLENICE.<br>
- Aktualizace: Při instalaci aktualizací je zobrazen CVE kód pro každou bezpečnostní záplatu. Ten je podezřele malé číslo, řešení jsou pak odpovídající písmena v abecedě a heslo SMYCEC.<br>
- Vypnutí: Po vypnutí systému se zobrazí heslo KRABICE.<br>
- Prohlížeč: Po instalaci aktualizací se při pokusu o spuštění prohlížeče zobrazí heslo ANAKONDA.<br>
- Soubor se šifrou: V aplikaci soubory je možné se proklikat k souboru sifra.txt. Dostat se k němu lze jen pokud byl opraven filesystém a uživatel je přihlášený jako admin. Soubor obsahuje divné řetězce znaků a písmen. Jedná se o md5 hash, řešení šifry je popsáno v předchozí video šifře Kurz šifrování. Heslo je pak LISTOPAD.
</p>


<h2 class="puzzle_name">Slova - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/slova.pdf" download>Slova</a></p>

<p class="hint_link" onclick="togglePuzzleHint('4')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_4">
- cti shodna pismena<br>
- Googli slogan<br>
- Komu patří slogan<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('4')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_4">
Slova jsou napsané ve stejné grafice jako loga známých technologických firem.
Pokud si vypíšeme názvy odpovídajících firem, uvidíme, že mají s daným slovem vždy na jedné pozici stejné písmeno.
Například PorOst(RedHat) = T, HAVRAN(HUAWEY) = H, IDA(IBM) = I, VOZOVNA(SAMSUNG) = N, SEKCE(NOKIA) = K, atd.
Všechny slova pak dají THINK DIFFERENT. Toto ale stále není řešení (to musí být podstatné jméno).
Think different je nicméně velmi známý bývalý slogan firmy Apple (pro ty co ho neznají, odkaz na slogan je také to první co vyskočí, když dáme "think different" do vyhledávače Google).
Řešení šifry je pak APPLE. 
</p>


<h2 class="puzzle_name">Chat - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/chat.pdf" download>Chat</a></p>

<p class="hint_link" onclick="togglePuzzleHint('5')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_5">
- Internetovesluzby<br>
- Hledej soc site<br>
- Ksichtokniha atd.<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('5')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_5">
V každé zprávě tohoto divného rozhovoru je odkaz na jednu sociální síť.
Například: "Jak je?" = WhatsApp, "Do jelení ramky!" = Instagram, "Ztratils vibrátor?" = Vibe, atd.
Také časy odeslání mohou být podezřelé, jsou to dost nízké čísla a navíc je hodina vždy větší než minuta.
Hodina udává celkový počet písmen v názvu sociální sítě, slouží jako potvrzení, že máme správnou sociální síť.
Minuta pak udává čtené písmeno. Při čtení tímto způsobem vyjde STEBETAT.
To odkazuje na heslo TWITTER. 
</p>


<h2 class="puzzle_name">Mobil - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/mobil.pdf" download>Mobil</a></p>

<p class="hint_link" onclick="togglePuzzleHint('6')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_6">
- Duha radí pořadí<br>
- Barvy maji čísla<br>
- Cervena je 1.pismeno<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('6')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_6">
Mobilní plocha obsahuje hromadu reálných aplikací, které ale mají divně barevné ikony, barvy tedy budou mít nějaký význam.
Dále je možné si všimnout, že pozadí plochy je barevný přechod - duha.
Pokud seřadíme barvy dle pozadí, očíslujeme je a u každé aplikace čteme písmeno dle pořadí barvy, pak nám vyjde mezitajenka KOD JE V CESTINE PATY ANDROID.
Pátý android má kódové označení Lollipop, což dá v češtině kód LÍZÁTKO. 
</p>


<h2 class="puzzle_name">Program - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/program.pdf" download>Program</a></p>

<p class="hint_link" onclick="togglePuzzleHint('7')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_7">
- Proste jdi dokud<br>
- Mapy.cz měření <br>
- RohParkuPodleNazvu<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('7')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_7">
Fiktivní program popisuje průchod okolím, při kterém se čte řešení.
Například první velký cyklus říká: ze všech míst v okolí, kde jsou dvě ulice (tj. křižovatky) které začínají na písmena L a P vyber to nejbližší a jdi tam = křižovatka ulic Lidická a Pionýrská.
Druhý cyklus říká: Podívej se na všechny tramvajové linky co tady jezdí, pokud má některá konečnou která obsahuje v názvu český překlad slova "field", tj. pole, tak její číslo vynásob 40 a dej do proměnné směr.
Tomu odpovídán tramvaj číslo 6, směr je tedy azimut 240.
Další blok říká: dokud nejsi u domu s číslem popisným 662, jdi jeden metr ve stávajícím směru, tj. pod azimutem 240 (nahoru po ulici Kotlářská).
První písmeno řešení je pak orientační číslo tohoto domu převedené na písmeno.
Zbytek šifry je řešen obdobně a dá řešení TUNEL.  
</p>

<h2 class="puzzle_name">Kolečko hitparáda - vedlejší šifra</h2>
<p class="puzzle_description">
Jak už je na Kolečku tradicí, i tento rok využívala jedna šifra VKV radiovou vysílačku.
U Salesiánského střediska volného času v Žabovřeskách mohly týmy na zadané frekvenci naladit následující šifru:<br>
<audio controls src="/iKolecko2019/kolecko_hitparada.mp3"></audio>
</p>

<p class="hint_link" onclick="togglePuzzleHint('8')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_8">
- Zaměřte se na čísla<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('8')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_8">
Hitparáda má pět písniček, každá písnička odkazuje na a jedno číslo: 3,1,4,1,5.
Jsou tam nějaké zajímavé narážky, třeba že za prvním místem uděláme čárku, že někdo může mít jasno už po třech místech a že bychom mohli pokračovat do nekonečna.
Řešení je 3,1415... neboli Ludolfovo číslo PI.
</p>

<h2 class="puzzle_name">8. Hvězdná obloha</h2>

<p class="puzzle_description">
Šifra má napodobovat otočné papírové pomůcky k poznávání hvězd a souhvězdí.
K sestavení je třeba vytisknout a vystřihnout část 1 (včetně vystřižení vnitřního otvoru),
dále výsledek zalaminovat do průhledné bílé folie a znovu vystřihnout, tentokrát už jen po obvodu.
Druhá část se tiskne oboustranně na tvrdší papír.
Po vytištění je potřeba přiložit zalaminované kolo na stranu se souhvězdími druhé části tak,
aby vnější kružnice části 1 seděla na vnitřní kružnici části 2.
Šifru propíchneme v místě malého křížku a spojíme aby se v tomto místě mohly obě části otáčet
(originální šifry používaly k tomuto účelu speciální "špendlík" z výtvarných potřeb, ale vystačíte si i s připínáčkem).
</p>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/sifra8_cast1.pdf" download>část 1</a>, <a href="/iKolecko2019/sifra8_cast2.pdf" download>část 2</a></p>

<p class="hint_link" onclick="togglePuzzleHint('8')">Nápověda:</p>
<p class="puzzle_hint" id="puzzle_hint_8">
Když na Silvestra o půlnoci překreslíte kolečka zezadu dopředu,
řešení se vám ve sváteční den a hodinu samo zjeví.
</p>

<p class="solution_link" onclick="togglePuzzleSolution('8')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_8">
Při zkoumání hvězdné oblohy může být nápadná podoba části některých souhvězdí s písmeny abecedy.
Jenže jak a v jakém pořadí je číst?
Zadní část obsahuje kolečka s obrázky a časy.
Velikost koleček přibližně odpovídá velikosti písmen
Je potřeba překreslit kolečka (v doporučeném vybavení byla černá lihová fixa) na přední stranu ve výchozí pozici 1.1. na 00:00.
Tato pozice je jednak znázorněna tlustějšími čarami v hodinách i kalendáři a
je navíc zajímavá tím, že se v tomto výchozím otočení všechny zadní kolečka
zobrazí na průhlednou část přední části.
Poslední nutné pozorování je to, že obrázky u koleček odpovídají českým svátkům.
Po tomto zjištění je pro každé kolečko nutno nastavit oblohu na daný den a hodinu a v kolečku se zobrazí písmeno.
Čteme dle pořadí svátků v kalendářním roce MALHOSTO PECKA.
</p>


<h2 class="puzzle_name">9. Šestiúhelníky</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/sifra9.pdf" download>šifra č. 9</a></p>

<p class="hint_link" onclick="togglePuzzleHint('9')">Nápověda:</p>
<p class="puzzle_hint" id="puzzle_hint_9">
Co chybí?
</p>

<p class="solution_link" onclick="togglePuzzleSolution('9')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_9">
Další z poměrně jednoduchých šifer obsahuje spoustu obrazců, které ale všechny stejný základ.
Jedná se o šestiúhelník se spojenými protilehlými rohy.
Pokud doplníme chybějící čáry do celého obrazce, vyjde řešení:
MILE TYMY POKRACUJTE K JIZNIMU CIPU PP ZLOBICE HODNE STESTI VAM PREJI ORGOVE
<br>
<img src="/iKolecko2019/sifra9_reseni.png" style="width:100%; max-width:600px">
</p>


<h2 class="puzzle_name">10. Barevné čtverečky</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/sifra10.pdf" download>šifra č. 10</a></p>

<p class="hint_link" onclick="togglePuzzleHint('10')">Nápověda:</p>
<p class="puzzle_hint" id="puzzle_hint_10">
Vymažte Z, nechte působit gravitaci, ...
</p>

<p class="solution_link" onclick="togglePuzzleSolution('10')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_10">
Barevné čtverečky stejné barvy tvoří graficky písmena, na začátku je vlevo dole velice nápadné červené písmeno Z.
Krom něho tam ale již nic vidět není.
Pokud si ale po přečtení dané písmeno odmyslíme a zbytek čtverečků posuneme na uprázdněné místo,
postupně se budou objevovat další písmena (šedé kostečky jsou jen pomocné a nečteme je).
Řešení je ZS JUNGMANNOVA KURIM.
<br>
<img src="/iKolecko2019/sifra10_reseni.gif" style="width:100%; max-width:500px">
</p>


<h2 class="puzzle_name">Cílová šifra</h2>

<p class="puzzle_description">
Na každém stanovišti dostal tým ozubené kolečko z překližky s číslem daného stanoviště.
V cíli navíc týmy dostaly další tři kolečka bez označení, dřevěnou desku s oskami
(z klasických nábytkářských zasunovacích držáků na poličky) a papírovou šifru.
Součástí šifry byla také mapa, kterou týmy dostaly ve startovní obálce.
Pokud byste si chtěli kolečka vyrobit tak v sekci ke stažení je svg s modelem.
Při výrobě byla použita laserová řezačka v Brněnském FABLABu, červené linky značí řezání, černé gravírování.
Zde děkujeme autorovi stránky <a href="https://geargenerator.com/">https://geargenerator.com/</a>,
kterou jsem použili pro generování základu koleček.
<br>
<img src="/iKolecko2019/deska_s_kolecky.jpg" style="width:100%;max-width:600px">
</p>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/cilova_sifra.pdf" download>papírová část</a>,
<a href="/iKolecko2019/mapa.pdf" download>mapa</a>,
<a href="/iKolecko2019/kolecka.svg" download>kolečka</a></p>

<p class="solution_link" onclick="togglePuzzleSolution('11')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_11">
Hned z prvního ohledání je vidět, že papírová část sedí na dřevěnou desku,
polohy křížků odpovídají oskám na desce.
Je proto třeba papír na desku nabodnout.
Dalším krokem je umístění koleček na desku.
Směrová růžice v levém dolním rohu je stejná jako na mapě,
která má stejnou velikost jako deska i jako papírová část šifry.
Podrobnějším zkoumáním se ukáže, že polohy některých os sedí na
polohy stanovišť na mapě, na každou pak umístíme kolečko tak jak
jsme je na daném stanovišti dostali.
Tři kolečka navíc slouží k propojení tam,
kde to topologie trasy vyžadovala.
Poslední úkol je přečíst řešení z papírové části.
Každé číslované kolečko má na sobě gravírovanou malou šipku
(která vypadá jako jeden osten směrové růžice) a dále malou čárku.
Výchozí otočení všech koleček je šipkou nahoru (na sever).
U prvního kolečka je na papírové části mírně zakulacená šipka,
která značí směr otáčení a je ukončená kolmou čárkou - zarážkou.
Otočíme tedy šipku na prvním kolečku ve směru tištěné šipky až k čárce zarážky.
Pak už jen přečteme písmena na které ukazují malé čárky na kolečkách.
Cílové heslo je POLYGRAFIE.
</p>
