<h1>Šifry a řešení</h1>


<h2 class="puzzle_name">Čmáranice - vedlejší šifra</h2>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/cmaranice.pdf" download>Čmáranice</a></p>

<p class="hint_link" onclick="togglePuzzleHint('1')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_1">
- Co nahradilo T9?<br>
- GogleSwipeKlvesnice<br>
- Vemte si mobil
</p>

<p class="solution_link" onclick="togglePuzzleSolution('1')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_1">
Jednotlivé čmáranice značí tahy "swipes" po mobilové QWERTZ klávesnici (jejíž obrys je naznačen pomocí rohů).
Řešení je MILE TYMY RESENI TETO SIFRY JE NEJVETSI PLANETA SLUNECNI SOUSTAVY, tj. JUPITER.
<br>
<img src="/iKolecko2019/cmaranice-reseni.png" style="width:100%; max-width:500px">
</p>


<h2 class="puzzle_name">Hodina šifrování - vedlejší šifra</h2>
Do této šifry se nám vloudila menší chybička. Ve čtvrté podšifře od pátého čísla zprava odečtěte 11 (je tam 86, má tam být 75).

<iframe width="560" height="315" src="https://www.youtube.com/embed/Fk_QmeC4paE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p class="hint_link" onclick="togglePuzzleHint('2')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_2">
- První špatné<br>
- Org dělá chyby<br>
- Cti chybna pismena
</p>

<p class="solution_link" onclick="togglePuzzleSolution('2')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_2">
V šifře je pět ukázek jednotlivých šifrovacích principů. Pokud je prozkoumáme pozorně, zjistíme, že tam jsou nějaké chyby.
Například u první šifry, morseovky, má být řešení HESLO JE OKENICE, nicméně předposlední písmeno v zobrazené šifře není C ale K.
Pokud takto najdeme chybu v každé z pěti podšifer, dostaneme heslo KAVKA.
</p>


<h2 class="puzzle_name">iKolečkOS - vedlejší šifra</h2>

<p class="puzzle_description">
U stanoviště této šifry byl na plotě papír s obrazcem v němž bylo schováno logo Bluetooth.
Po zapnutí Bluetooth se týmům zobrazilo zařízení Kolecko-rpi a po spárování jim byl přes Bluetooth poslán html soubor
se šifrou. Ta běžela v javascriptu v prohlížeči.
</p>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/iKoleckOS.html" target=new>iKolečkOS</a></p>

<p>
K této šifře nebylo možné žádat o nápovědu. 
</p>

<p class="solution_link" onclick="togglePuzzleSolution('3')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_3">
Jednotlivé podšifry jsou schovány následovně:<br>
- Kontrola souborového systému: Než je souborový systém úplně opraven, je potřeba opakovat opravu 5x. Pokaždé je vynecháno jedno číslo na počítadle procent. Pokud čteme odpovídající písmena v abecedě, dostaneme heslo KOTEL.<br>
- Admin heslo: Po třech pokusech se zobrazí nápověda "You force heaven to be empty", to je mnemotechnicky přepsané heslo "U472BMT". Po jeho zadání se zobrazí kód PIVOVAR.<br>
- Nové vlastnosti: Při spuštění se nabízí úžasné nové vlastnosti systému. Pokud uživatel zvolí 3x určitě ano, získá heslo PLOTICE.<br>
- Plocha: Na ploše roste tráva s tmavými a světlými lístky. To je morseovka, která dává heslo AUTOMOBIL.<br>
- Spořič obrazovky: Spořič obrazovky průlet hvězdokupou, kde krom náhodně generovaných hvězd prolétávají i čtyři skutečná souhvězdí. Jsou to Malý vůz, Labuť, Orion a Kasipea. Jejich první písmena dají heslo MLOK.<br>
- Nápověda: Čteme písmena psané malými kapitálkami: PAZOUREK (v prohlížečích s horší podporou pro Unicode se místo nich zobrazují čtverečky).<br>
- Hledání min: Miny jsou pokaždé generovány na stejných místech, dále je možné si všimnout i tmavších čar vyznačujících větší skupiny 2x3 polí. Skupiny jsou písmena v Brailově písmu: OBKLADACKA.<br>
- BSOD: Po pádu systému který nastane cca po 15-30 minutách můžeme najít ve výpisu paměti zapsané pomocí šestnáctkové soustavy heslo SKLENICE.<br>
- Aktualizace: Při instalaci aktualizací je zobrazen CVE kód pro každou bezpečnostní záplatu. Ten je podezřele malé číslo, řešení jsou pak odpovídající písmena v abecedě a heslo SMYCEC.<br>
- Vypnutí: Po vypnutí systému se zobrazí heslo KRABICE.<br>
- Prohlížeč: Po instalaci aktualizací se při pokusu o spuštění prohlížeče zobrazí heslo ANAKONDA.<br>
- Soubor se šifrou: V aplikaci soubory je možné se proklikat k souboru sifra.txt. Dostat se k němu lze jen pokud byl opraven filesystém a uživatel je přihlášený jako admin. Soubor obsahuje divné řetězce znaků a písmen. Jedná se o md5 hash, řešení šifry je popsáno v předchozí video šifře Kurz šifrování. Heslo je pak LISTOPAD.
</p>


<h2 class="puzzle_name">Slova - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/slova.pdf" download>Slova</a></p>

<p class="hint_link" onclick="togglePuzzleHint('4')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_4">
- cti shodna pismena<br>
- Googli slogan<br>
- Komu patří slogan<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('4')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_4">
Slova jsou napsané ve stejné grafice jako loga známých technologických firem.
Pokud si vypíšeme názvy odpovídajících firem, uvidíme, že mají s daným slovem vždy na jedné pozici stejné písmeno.
Například PorOst(RedHat) = T, HAVRAN(HUAWEY) = H, IDA(IBM) = I, VOZOVNA(SAMSUNG) = N, SEKCE(NOKIA) = K, atd.
Všechny slova pak dají THINK DIFFERENT. Toto ale stále není řešení (to musí být podstatné jméno).
Think different je nicméně velmi známý bývalý slogan firmy Apple (pro ty co ho neznají, odkaz na slogan je také to první co vyskočí, když dáme "think different" do vyhledávače Google).
Řešení šifry je pak APPLE. 
</p>


<h2 class="puzzle_name">Chat - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/chat.pdf" download>Chat</a></p>

<p class="hint_link" onclick="togglePuzzleHint('5')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_5">
- Internetovesluzby<br>
- Hledej soc site<br>
- Ksichtokniha atd.<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('5')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_5">
V každé zprávě tohoto divného rozhovoru je odkaz na jednu sociální síť.
Například: "Jak je?" = WhatsApp, "Do jelení ramky!" = Instagram, "Ztratils vibrátor?" = Vibe, atd.
Také časy odeslání mohou být podezřelé, jsou to dost nízké čísla a navíc je hodina vždy větší než minuta.
Hodina udává celkový počet písmen v názvu sociální sítě, slouží jako potvrzení, že máme správnou sociální síť.
Minuta pak udává čtené písmeno. Při čtení tímto způsobem vyjde STEBETAT.
To odkazuje na heslo TWITTER. 
</p>


<h2 class="puzzle_name">Mobil - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/mobil.pdf" download>Mobil</a></p>

<p class="hint_link" onclick="togglePuzzleHint('6')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_6">
- Duha radí pořadí<br>
- Barvy maji čísla<br>
- Cervena je 1.pismeno<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('6')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_6">
Mobilní plocha obsahuje hromadu reálných aplikací, které ale mají divně barevné ikony, barvy tedy budou mít nějaký význam.
Dále je možné si všimnout, že pozadí plochy je barevný přechod - duha.
Pokud seřadíme barvy dle pozadí, očíslujeme je a u každé aplikace čteme písmeno dle pořadí barvy, pak nám vyjde mezitajenka KOD JE V CESTINE PATY ANDROID.
Pátý android má kódové označení Lollipop, což dá v češtině kód LÍZÁTKO. 
</p>


<h2 class="puzzle_name">Program - vedlejší šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/program.pdf" download>Program</a></p>

<p class="hint_link" onclick="togglePuzzleHint('7')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_7">
- Proste jdi dokud<br>
- Mapy.cz měření <br>
- RohParkuPodleNazvu<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('7')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_7">
Fiktivní program popisuje průchod okolím, při kterém se čte řešení.
Například první velký cyklus říká: ze všech míst v okolí, kde jsou dvě ulice (tj. křižovatky) které začínají na písmena L a P vyber to nejbližší a jdi tam = křižovatka ulic Lidická a Pionýrská.
Druhý cyklus říká: Podívej se na všechny tramvajové linky co tady jezdí, pokud má některá konečnou která obsahuje v názvu český překlad slova "field", tj. pole, tak její číslo vynásob 40 a dej do proměnné směr.
Tomu odpovídán tramvaj číslo 6, směr je tedy azimut 240.
Další blok říká: dokud nejsi u domu s číslem popisným 662, jdi jeden metr ve stávajícím směru, tj. pod azimutem 240 (nahoru po ulici Kotlářská).
První písmeno řešení je pak orientační číslo tohoto domu převedené na písmeno.
Zbytek šifry je řešen obdobně a dá řešení TUNEL.  
</p>

<h2 class="puzzle_name">Kolečko hitparáda - vedlejší šifra</h2>
<p class="puzzle_description">
Jak už je na Kolečku tradicí, i tento rok využívala jedna šifra VKV radiovou vysílačku.
U Salesiánského střediska volného času v Žabovřeskách mohly týmy na zadané frekvenci naladit následující šifru:<br>
<audio controls src="/iKolecko2019/kolecko_hitparada.mp3"></audio><br>
Děkujeme Terezii Petruchové za namluvení šifry.
</p>

<p class="hint_link" onclick="togglePuzzleHint('8')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_8">
- Zaměřte se na čísla<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('8')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_8">
Hitparáda má pět písniček, každá písnička odkazuje na jedno číslo: 3,1,4,1,5.
Jsou tam nějaké zajímavé narážky, třeba že za prvním místem uděláme čárku,
že někdo může mít jasno už po třech místech a že bychom mohli pokračovat do nekonečna.
Řešení je 3,1415... neboli Ludolfovo číslo PI.
</p>

<h2 class="puzzle_name">Kódovaný obrázek - hlavní šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/kodovany_obrazek.pdf" download>Kódovaný obrázek</a></p>

<p class="hint_link" onclick="togglePuzzleHint('9')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_9">
- Vybarvi kostičky fix<br>
- dokresliCtverceVyfot<br>
- pouzij QR ctecku
</p>

<p class="solution_link" onclick="togglePuzzleSolution('9')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_9">
Na první pohled by mělo jít poznat, že šifra připomíná hlavolam nonogram, neboli česky dle názvu šifry kódovaný obrázek.
Princip řešení je poměrně známý, případně se dá zjistit po chvíli googlení.
Je potřeba si uvědomit, že se nevyplňuje celý čtverec, ale jen tmavší část
(to ale začne být zřejmé minimálně při postupu, protože jen na tmavší části je řešení jednoznačné).
Po dokončení nonogramu ale není jasné co dál.
Řešením obvykle bývá obrázek, zde vidíme jen náhodné shluky.
Klíčové jsou tři prázdné čtvercové místa v rozích.
Na stejných místech mívá tzv. geometrickou vrstvu QR kód (tj. čtverce které slouží k přesnému určení pozic pro informační bity).
Tyto čtverce jsou mírně naznačeny (plná čára oproti přerušované kolem) a nebo vygooglíme jak takový QR kód vypadá a dokreslíme podle toho.
Po dokreslení geometrické vrstvy můžeme už přečíst QR čtečkou řešení LEPORELO.
<br>
<img src="/iKolecko2019/kodovany_obrazek_reseni.png" style="width:100%; max-width:600px">
</p>


<h2 class="puzzle_name">Zápis z porady - hlavní šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/zapis_z_porady.pdf" download>Zápis z porady</a></p>

<p class="hint_link" onclick="togglePuzzleHint('10')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_10">
- pis na maily z sifry<br>
- 3 sifry 3slova totéž<br>
- Slovo společné vsem<br>
</p>

<p class="solution_link" onclick="togglePuzzleSolution('10')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_10">
Poměrně dlouhý text šifry popisuje fiktivní poradu, kde orgové vymýšlí, jak udělat šifru.
Z textu by mělo být jasné, že tam je víc podšifer, každý org má jednu a i zhruba princip (morseovka, numerická šifra a něco schovaného v písmu).
Dále je poměrně dlouze probírána možnost nápověd a především je zmíněna možnost speciálních návodů pro tuto šifru, které jsou schované mimo ni,
ale cesta k nim je v šifře.
Na konci šifry možná může být podezřelé, že jsou tam uvedeny emaily na orgy a org Vojta má komentář, že se musí odpovídat obratem, jako by odpovídali účastníkům.
Pokud účastníci napíšou na uvedené emaily, dostanou následující automatické odpovědi:<br><br>

Ahoj,<br>
momentálně jsem asi někde v terénu, ozvu se jak budu moci.  Omlouvám se za tu šifru, chtěl jsem tam zakomponovat strašně vychytanou numerickou šifru, ale pak jsem se na to vykašlal a nakonec prostě jen stačí přečíst čísla v textu. Sorry jako.<br>
Tak zatím<br>
Franta<br><br>

Ahoj,<br>
zrovna organizuji šifrovačku, odpovím jak to bude možné. V mezičase se můžete zabavit mým oblíbeným webkomiksem <a href="https://xkcd.com/1015/">https://xkcd.com/1015/</a><br>
S pozdravem<br>
Vojta<br><br>

Ahoj,<br>
máte smůlu, tenhle emailový účet je plný spamu, takže si vaši zprávu asi nikdy nepřečtu. Nicméně pokud chcete nápovědu k morseovce, tak jak si asi myslíte, že by šla zakódovat, když jsme právě tři organizátoři...<br>
Takže tak<br>
Evžen<br><br>

Jednotlivé principy tedy jsou číst morseovku ze jmen orgů (dle členění textu na odstavce), číst čísla v textu a číst písmena s divným kerringem. Toto dá mezivýsledky STROJ, STROM a PTAK.
Finální heslo je JEŘÁB.
</p>


<h2 class="puzzle_name">Heroes - hlavní šifra</h2>

<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/heroes.pdf" download>Heroes</a></p>

<p class="hint_link" onclick="togglePuzzleHint('11')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_11">
- Propojeni je poradi<br>
- TextyOdkazujiNaPosta<br>
- Eng1PismenoPoporade
</p>

<p class="solution_link" onclick="togglePuzzleSolution('11')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_11">
Jednotlivé shluky slov odkazují na knihy.
Velikost slova ve shluku odpovídá četnosti slova v dané knize (tzv. wordcloud).
Tvary wordcloudů jsou pak postavy z daných knih.
Nicméně postava pokaždé patří k jiné knize (wordcloudu), tj. tímto způsobem všechny wordcloudy propojíme.
Řešení čteme od Alenky (Alice), kde je vyznačen start a čteme první písmena jmen postav: ACROBATS.
<br>
<img src="/iKolecko2019/heroes_reseni.png" style="width:100%; max-width:700px">
</p>


<h2 class="puzzle_name">Krajta - cílová šifra</h2>

</p>
<p class="puzzle_download">Ke stažení: <a href="/iKolecko2019/krajta.pdf" download>Krajta</a></p>

<p class="hint_link" onclick="togglePuzzleHint('12')">Vybrané P2P nápovědy:</p>
<p class="puzzle_hint" id="puzzle_hint_12">
- KolikSniDo1.Narazu<br>
- Uz si narazil driv<br>
- Pocitejte kalorie
</p>

<p class="solution_link" onclick="togglePuzzleSolution('12')">Řešení:</p>
<p class="puzzle_solution" id="puzzle_solution_12">
Název šifry i grafika mají evokovat starou mobilní aplikace Snake (např. z Nokie 3310).
Čísla a šipky dole udávají pohyb hada. Tj. kolik polí musíme ujet a jak pak zatáčíme.
Pokud si projedeme všechny trasy (pokaždé ze stejného začátku), uvidíme, že had co této cestě pokaždé sežere několik kostek
a konec instrukcí odpovídá nárazu do zdi.
Pokud čteme písmena odpovídající počtu sežraných kostek dostamene NENARAZ.
Nemáme tedy narazit, ale do čeho, když na konci se narazí pokaždé?
V původní hře hráč prohrál nejen po nárazu do zdi, ale i po nárazu do sebe sama.
Trasa, kterou had projíždí skutečně někdy kříží i sebe.
Pokud tedy kontrolujeme aktuální délku hada v době křížení (prodlouží se o jedna za každou zkonzumovanou kostku)
a čteme jen to co sežere před nárazem do sebe nebo stěny, dostaneme konečné řešení DEKANAT.

</p>
