<h1><strong>Pravidla hry</strong></h1>


<ul>

<li>Hra začíná v pátek 20.9.2019 v 17:30 v Brně nebo jeho blízkém okolí (místo bude upřesněno v týdnu přede hrou) a končí v sobotu 21.9.2019 ve 12:00 na místě s dobrou dopravní dostupností.

<li>Hry se účastní 3 členné týmy (4 členné pokud se jedná o úplné začátečníky - méně jak pět šifrovacích her a žádné umístění v první polovině startovního pole na velkých hrách typu TMOU/Napalmně/iNula).

<li>Na každém stanovišti si vezměte dvě kopie šifry. Jednou kopií šifry se rozumí jedno kompletní zadání. Sestává-li se zadání např. ze dvou papírů, vezměte si celkem 4 papíry. Naopak pokud na jednom papíře A4 najdete dvě identická zadání, berte si papír pouze jeden. Výjimku představují stanoviště, kde týmy zadání fyzicky nedostávají. Pokud by se náhodou stalo, že je přítomno poslední zadání, toto si prosím pouze vyfoťte/přepište a volejte organizátory.

<li>K přesunu během hry je povoleno používat pouze vlastní nohy a MHD, jakékoli jiné dopravní prostředky (auto, kolo, hoverboard, ...) jsou zakázány.

<li>K navigaci slouží primárně mapa z iKolečko websystému. Je možné využívat jakékoli jiné mapy papírové či elektronické nebo i GPS, ale nejsou k úspěšnému absolvování hry nezbytné.

<li>V textu psaném kurzívou nehledejte šifru.

<li>Ke kódování textu se používá anglická abeceda (A = 1, Z = 26), není-li z kontextu zřejmé jinak.

<li>Řešení šifer je podstatné jméno v českém nebo anglickém jazyce, pokud není v šifře uvedeno jinak.

<li>Týmy se mohou dělit dle uvážení.

<li>Pro hledání encyklopedických informací lze konzultovat google, wikipedii, atd., i nehrající osoby, ale nelze je využívat pro hledání principu řešení.

<li>Kolečko tento ročník poměrně intenzivně používá moderní technologie. Z toho důvodu je možné, že něco nebude fungovat tak jak má, případně se rozbije. Pokud budete mít silné podezření, že něco co má fungovat nefunguje, sdělte nám to prosím co nejdřív telefonicky (kontaktní čísla na organizátory budou ve startovní obálce).

<li>Websystém jako takový neobsahuje žádnou šifru a je možné, že v něm půjde něco rozbít, pokud se o to bude někdo dost snažit. Jakékoli snahy o jeho nabourání nebo zkoumání jeho fungování za jakýmkoliv účelem jsou zakázány.

<li>Mějte na paměti, že orgové jsou v podstatě svině.
</li>
</ul>
<h2><strong>Průchod hrou</strong></h2>


<ul>

<li>Cílem hry je dorazit do cíle a vyluštit cílové heslo.

<li>Hra je nelineární a skládá se z hlavních a vedlejších šifer.

<li>Polohu cíle se účastníci dozvědí po vyluštění všech (tří) hlavních šifer.

<li>Polohu hlavních šifer lze získat v iKolečko websystému za OCoiny (zkratka OC, čti “Kolečkokojny”). Poloha hlavní šifry stojí 150 OC.

<li>OCoiny získávají týmy za vyzvednutí a luštění vedlejších šifer, případně za další volitelné aktivity (jako P2P nápovědy). Hra bude obsahovat přibližně 8 vedlejších šifer. Za vyzvednutí šifry je řádově 20 OC, za řešení cca 50-70 (liší se šifru od šifry dle náročnosti). Konkrétní bodové ohodnocení šifer bude vidět v systému na stránce “Šifry a řešení” i před jejich vyzvednutím a bude uvedeno i v hlavičce šifry.

<li>Umístění vedlejších šifer a jejich GPS souřadnice budu zveřejňovány v iKolečko websystému v průběhu hry na stránce “Šifry a řešení”, pozice zveřejněných šifer je také možné sledovat přímo na mapě v iKolečko websystému na stránce “Mapa”.

<li>Umístění hlavních šifer a jejich GPS souřadnice najít na stejných místech. Poloha hlavních šifer se ale odkryje až po zaplacení příslušného obnosu OCoinů na stránce “Průchod hrou” - “Hlavní šifry”. Stejně jako u vedlejších šifer je možno použít přímo mapu ve websystému.

<li>Pozice cíle se odkryje po vyluštění všech hlavních šifer.

<li>Průběh hry zadáváte v iKolečko websystému na stránce “Průchod hrou” - “Příchod na stanoviště”, kde po vyzvednutí šifry lze zadat kód šifry. Teprve pak je šifra oficiálně vyzvednuta.

<li>Vyzvednutím šifry získáte možnost žádat o nápovědu v sekci nápovědy (viz níže) a zadat řešení na stránce “Odpovědi - Odpovědět”. Na zadání odpovědi každé šifry jsou tři pokusy, každý další pokus stojí 5 OCoinů.

<li>Pokud byste se z nějakého důvodu hru rozhodli vzdát, rádi vás i tak uvítáme v cíli, kde se můžete těšit na guláš a pivo. Polohu cíle vám telefonicky prozradí kterýkoli z orgů. Dejte nám prosím vědět i v případě, že do cíle nebudete mít namířeno, ať na vás zbytečně nečekáme.
</li>
</ul>
<h2><strong>P2P nápovědy a záchrany</strong></h2>


<p>
Nápovědy k šifrám můžete získat přes websystém od ostatních týmů, které již danou šifru vyluštily, výměnou za OCoiny. K hlavním šifrám je možná i nápověda od orgů a eventuálně záchrana (zvaná též dead nebo taky totálka), tj. přesný popis řešení.
</p>
<h3>Nápovědy k vedlejším šifrám</h3>


<ol>

<li>O nápovědu lze požádat na stránce “Nápovědy - Požádat o nápovědu”.

<li>Lze žádat jen o nápovědy k vyzvednutým šifrám.

<li>Spolu s žádostí o nápovědu musí tým vypsat i odměnu za nápovědu. Odměna je libovolný nenulový počet OCoinů. Tyto se ihned nevratně strhnou z konta týmu žádajícího o nápovědu.

<li>Po vypsání nápovědy a zaplacení odměny se tato informace objeví týmům které již mají danou šifru vyluštěnou na stránce “Nápovědy - poslat nápovědu jinému týmu”. Nápověda je anonymní, tj. není vidět který tým o ni žádá, jen jaká je velikost odměny.

<li>Pokud nějaký tým nápovědu na této stránce zadá, tato nabídka se ihned zobrazí v sekci “Nápovědy - Žádosti a přijaté nápovědy” týmu který o ni žádal. Nabídky nápověd jsou také anonymní, zobrazuje se pouze hodnocení napovídajícího týmu (viz bod 10).

<li>Z těchto nabídek si daný tým jednu vybere, nápověda se mu ihned zobrazí.

<li>Na OCoin účet napovídajícího týmu, jehož nabídka byla vybrána, se v tomto momentě ihned připíše 30% OCoinů z odměny a nabídka nápovědy ze systému zmizí.

<li>Tým který nápovědu obdržel je povinen ji ohodnotit, a to nejpozději před zadáním řešení šifry do systému. Respektive, před odesláním hodnocení nelze zadat řešení. Hodnotí se na škále 1-5 hvězdiček. V tomto bodě prosíme o fair play.

<li>Napovídajícímu týmu se v tomto okamžiku připíše ještě další část vypsané odměny, v závislosti na hodnocení. Jedna hvězdička - 0%, až pět hvězdiček - 40%. Zbývající část odměny (30%) se ztrácí, jedná se o manipulační poplatek na provoz OCoin blockchainu.

<li>Hodnocení šifry se také použije pro aktualizaci hodnocení napovídajícího týmu, toto je počítáno jako průměr hodnocení všech jeho nápověd.

<li>Délka nápověd bude omezena na 20 znaků.

<li>Pokud tým zadá řešení dříve než obdrží jakoukoli nabídku nápovědy, vrátí se mu 70% OCoinů. Pokud zadá řešení v okamžiku, kdy již obdržel nějaké nápovědy, ale žádnou neotevřel, rozdělí se 70% odměny rovnoměrně mezi napovídající týmy.

<li>O nápovědu lze žádat opakovaně, tato žádost o nápovědu se ale již nezobrazí týmům které již danému týmu danou šifru napovídaly.

<li>Hodnotu vypsané nápovědy lze libovolně navyšovat, ale nelze ji snížit ani nápovědu zrušit.

<li>Pro každou šifru který tým vyluštil (ať už s nápovědu nebo bez ní) může poté poslat pouze 2 nápovědy.

<li>Je povoleno posílat pouze nápovědy k principu řešení, tj. ne samotné řešení ani nápovědy odkazující přímo na řešení. Dále není možné poslat stejnou nápovědu jakou tým předtím obdržel od jiného týmu.
</li>
</ol>
<h3>Nápovědy k hlavním šifrám a cílové šifře</h3>


<ol>

<li>Využívají stejný systém jako vedlejší šifry s následujícími rozdíly.

<li>Po hodině luštění hlavní šifry a utracení alespoň 30 OCoinů na P2P nápovědy má tým nárok na telefonickou nápovědu od Orgů. V případě utracení alespoň 50 OCoinů na P2P nápovědy a dvou hodinách luštění má tým nárok i na plný princip řešení dané šifry.

<li>Žádost o nápovědu od orgů nebo o princip řešení (tzv. dead) se zadává v systému na stránce “Nápovědy - Požádat o nápovědu”. Poté zavolejte orgům na číslo uvedené ve startovní obálce, kteří vám dají nápovědu na míru, případně vysvětlí řešení.

<li>Pokud tým využije nápovědu dle bodu 2, nemá už nárok na OCoiny zpět i kdyby na ně měl jinak nárok dle bodu 12 z pravidel P2P nápověd.
</li>
</ol>
<h2><strong>Cílové pořadí</strong></h2>


<p>
O výsledném pořadí týmů rozhodují následující kritéria:
</p>
<ol>

<li>Vyluštění cílové šifry

<li>Počet vyluštěných hlavních šifer

<li>Stav OCoin konta
</li>
</ol>
<p>
Kritéria se aplikují v uvedeném pořadí. Vyhrává tedy tým, který vyluští cílovou šifru, pokud ji vyluští víc týmů rozhoduje stav jejich OCoin konta. Pořadí ostatních týmů určuje počet vyluštěných hlavních šifer, při rovnosti opět stav OCoin konta. Pořadí týmů bude průběžně viditelné ve websystému na stránce “Výsledky”.
</p>
<h2>Doporučené vybavení</h2>


<ul>

<li>Přístroj s připojením k internetu (není potřeba vysokorychlostní), další běžnou konektivitou (wifi a bluetooth), fotoaparátem nebo webkamerou a GPS (GPS není úplně nutné, ale je to výhoda), který vám vydrží běžet celou noc při poměrně intenzivním používání. Dále by měl podporovat běžné moderní webové technologie. Konkrétně to znamená, že by na něm měl jít spustit a rozumně používat aktuální Firefox nebo Chrome. Alternativní prohlížeče, jako třeba Opera nebo Safari, nebyly testovány, ale je pravděpodobné, že 99% věcí bude fungovat. Internet Explorer a Edge jsou rozbité a minimálně jednu šifru v nich pravděpodobně nevyluštíte.

<li>Doporučujeme také záložní zdroj energie (powerbanku, atd.). Bez používání websystému totiž není možné hru dokončit a některé šifry budou dostupné jen elektronicky.

<li>FM přijímač (pokud budete používat mobil, nezapomeňte, že FM rádio většinou funguje jen se sluchátky)

<li>Psací potřeby, papíry na poznámky, průhledná folie.

<li>Buzola nebo kompas (stačí v aplikaci).

<li>Šifrovací pomůcky (Chlíftým, Napalmně, atd.).
</ul>    
