<h1>Statistiky šifer</h1>

<p>Vzhledem k restartu databáze který proběhl kolem 19:00 byly všechny přichody a řešení zadané do té doby zadány po restartu znovu. Tímto jsou především poznamenány časy příchodů a vyluštění u prvních šifer.</p>

<table class="table"><tr><th>Šifra</th><th>Vyzvedlo<br>týmů</th><th>Vyluštilo<br>týmů</th><th>První<br>vyzvedl</th><th>První<br>vyluštil</th><th>Týmů žádalo<br>o nápovědu</th><th>Prům. hodnota žádosti<br>(prům. počet žádostí)</th></tr>
</tr>
<tr><td>Čmáranice</td>
<td>21 (100%)</td><td>20 (95%)</td>
<td>Starehrusky<br>18:59</td>
<td>Manyló<br>19:00</td>
<td>1 (4%)</td>
<td>10.0 (0.05)</td></tr>
<tr><td>Hodina šifrování</td>
<td>21 (100%)</td><td>18 (85%)</td>
<td>Starehrusky<br>18:59</td>
<td>Manyló<br>18:59</td>
<td>1 (4%)</td>
<td>10.0 (0.05)</td></tr>
<tr><td>iKolečkOS</td>
<td>21 (100%)</td><td>5 (23%)</td>
<td>Starehrusky<br>19:40</td>
<td>Starehrusky<br>02:35</td>
<td>0 (0%)</td>
<td>0.0 (0.05)</td></tr>
<tr><td>Slova</td>
<td>21 (100%)</td><td>21 (100%)</td>
<td>Starehrusky<br>19:00</td>
<td>Eyjafjallajokull<br>19:00</td>
<td>3 (14%)</td>
<td>11.0 (0.24)</td></tr>
<tr><td>Chat</td>
<td>20 (95%)</td><td>15 (75%)</td>
<td>KaM<br>20:19</td>
<td>KaM<br>20:38</td>
<td>7 (35%)</td>
<td>8.6 (0.45)</td></tr>
<tr><td>Mobil</td>
<td>20 (95%)</td><td>15 (75%)</td>
<td>Starehrusky<br>18:59</td>
<td>KaM<br>19:12</td>
<td>7 (35%)</td>
<td>9.1 (0.45)</td></tr>
<tr><td>Program</td>
<td>21 (100%)</td><td>15 (71%)</td>
<td>Starehrusky<br>22:43</td>
<td>Starehrusky<br>23:19</td>
<td>1 (4%)</td>
<td>3.0 (0.19)</td></tr>
<tr><td>Kolečko hitparáda</td>
<td>20 (95%)</td><td>16 (80%)</td>
<td>KaM<br>21:26</td>
<td>Ty fajn, fajnový.<br>21:34</td>
<td>3 (15%)</td>
<td>8.3 (0.15)</td></tr>
<tr><td>Kódovaný obrázek</td>
<td>20 (95%)</td><td>18 (90%)</td>
<td>Starehrusky<br>19:00</td>
<td>KaM<br>19:28</td>
<td>5 (25%)</td>
<td>10.0 (0.40)</td></tr>
<tr><td>Zápis z porady</td>
<td>21 (100%)</td><td>19 (90%)</td>
<td>KaM<br>19:39</td>
<td>KaM<br>20:54</td>
<td>8 (38%)</td>
<td>8.7 (0.71)</td></tr>
<tr><td>Heroes</td>
<td>19 (90%)</td><td>17 (89%)</td>
<td>KaM<br>22:07</td>
<td>Párek s křenem<br>22:52</td>
<td>4 (21%)</td>
<td>7.9 (0.58)</td></tr>
<tr><td>Krajta</td>
<td>16 (76%)</td><td>9 (56%)</td>
<td>KaM<br>23:57</td>
<td>Eyjafjallajokull<br>02:46</td>
<td>7 (43%)</td>
<td>15.9 (0.75)</td></tr>
</table>

