<h1>Šifry a řešení</h1>


<h2 class="puzzle_name">4. Lasery</h2>

<p class="puzzle_description">
Šifra se skládala z menšího terária, ve kterém byly naaranžovány větvičky, listí, atd a svítilo v něm červené světýlko.
Horní strana byla zadělána kromě menší přihrádky na boku, která byla menším otvorem propojena s hlavní částí a byla v ní položena nádobka.
Na vrchní straně terárka se nacházel vypínač, kterým se zapínalo a vypínalo světlo.
Týmy nemohly s terárkem nijak manipulovat, směly obsluhovat jen vypínač a boční přihrádku.<br>
FIXME: máme někde fotku?
</p>

<h3>Řešení:</h3>
<p class="puzzle_solution">
Podrobnějším zkoumáním terárka se dalo přijít na to,
že krom listí a větviček obsahuje ještě i černé sloupky na kterých
jsou připevněná malá zrcátka.
Na zrcátcích byly navíc trochu vidět červené tečky.
Jednalo se o stopy světla laserů, které byly schovány pod poklopem, takže nebyly vidět,
nicméně zrcátka krom odrážení svazku světlo i mírně rozptylovaly.
Řešení bylo použít suchý led, který týmy fasovaly na začátku
a vložením do boční přihrádky terárko zakouřit.
Stopy laserů o zrcátka pak vykreslily graficky číslice 383,
což je výška blízké kóty.<br>
<img src="/KoleCZko2018/lasery.jpg" style="width:100%; max-width:400px">
</p>


<h2 class="puzzle_name">6. LSD</h2>

<p class="puzzle_description">
Šifra byla umístěna v prostorách lezecké stěny Dufek (LSD) v Kuřimi.
Na stěně bylo symboly koleček v různých barvách vyznačeno pět lezeckých cest.
</p>

<h3>Řešení:</h3>
<p class="puzzle_solution">
Při lezení cest si týmy všimly, že některé značky obsahují krom symbolu kolečka i číslo.
Pro každou barvu bylo číslováno n koleček, číslicemi 1 až n.
Spojováním těchto bodů dle jejich čísla tak jak byly umístěny
na stěně dalo pro danou barvu graficky písmeno.
Jednotlivé cesty se řadily dle barev duhy a vyšlo řešení SRPEK, název blízkého rybníka.
</p>


<h2 class="puzzle_name">8. Hvězdná obloha</h2>

<p class="puzzle_description">
Šifra má napodobovat otočné papírové pomůcky k poznávání hvězd a souhvězdí.
K sestavení je třeba vytisknout a vystřihnout část 1 (včetně vystřižení vnitřního otvoru),
dále výsledek zalaminovat do průhledné bílé folie a znovu vystřihnout, tentokrát už jen po obvodu.
Druhá část se tiskne oboustranně na tvrdší papír.
Po vytištění je potřeba přiložit zalaminované kolo na stranu se souhvězdími druhé části tak,
aby vnější kružnice části 1 seděla na vnitřní kružnici části 2.
Šifru propíchneme v místě malého křížku a spojíme aby se v tomto místě mohly obě části otáčet
(originální šifry používaly k tomuto účelu speciální "špendlík" z výtvarných potřeb, ale vystačíte si i s připínáčkem).
</p>
<p class="puzzle_download">Ke stažení: <a href="/KoleCZko2018/sifra8_cast1.pdf" download>část 1</a>, <a href="/KoleCZko2018/sifra8_cast2.pdf" download>část 2</a></p>

<h3>Řešení:</h3>
<p class="puzzle_solution">
Při zkoumání hvězdné oblohy může být nápadná podoba části některých souhvězdí s písmeny abecedy.
Jenže jak a v jakém pořadí je číst?
Zadní část obsahuje kolečka s obrázky a časy.
Velikost koleček přibližně odpovídá velikosti písmen
Je potřeba překreslit kolečka (v doporučeném vybavení byla černá lihová fixa) na přední stranu ve výchozí pozici 1.1. na 00:00.
Tato pozice je jednak znázorněna tlustějšími čarami v hodinách i kalendáři a
je navíc zajímavá tím, že se v tomto výchozím otočení všechny zadní kolečka
zobrazí na průhlednou část přední části.
Poslední nutné pozorování je to, že obrázky u koleček odpovídají českým svátkům.
Po tomto zjištění je pro každé kolečko nutno nastavit oblohu na daný den a hodinu a v kolečku se zobrazí písmeno.
Čteme dle pořadí svátků v kalendářním roce MALHOSTO PECKA.
</p>


<h2 class="puzzle_name">Cílová šifra</h2>

<p class="puzzle_description">
Na každém stanovišti dostal tým ozubené kolečko z překližky s číslem daného stanoviště.
V cíli navíc týmy dostaly další tři kolečka bez označení, dřevěnou desku s oskami
(z klasických nábytkářských zasunovacích držáků na poličky) a papírovou šifru.
Součástí šifry byla také mapa, kterou týmy dostaly ve startovní obálce.
Pokud byste si chtěli kolečka vyrobit tak v sekci ke stažení je svg s modelem.
Při výrobě byla použita laserová řezačka v Brněnském FABLABu, červené linky značí řezání, černé gravírování.
Zde děkujeme autorovi stránky <a href="https://geargenerator.com/">https://geargenerator.com/</a>,
kterou jsem použili pro generování základu koleček.
<br>
<img src="/KoleCZko2018/deska_s_kolecky.jpg" style="width:100%;max-width:400px">
</p>
<p class="puzzle_download">Ke stažení: <a href="/KoleCZko2018/cilova_sifra.pdf" download>papírová část</a>,
<a href="/KoleCZko2018/mapa.pdf" download>mapa</a>,
<a href="/KoleCZko2018/kolecka.svg" download>kolečka</a></p>

<h3>Řešení:</h3>
<p class="puzzle_solution">
Hned z prvního ohledání je vidět, že papírová část sedí na dřevěnou desku,
polohy křížků odpovídají oskám na desce.
Je proto třeba papír na desku nabodnout.
Dalším krokem je umístění koleček na desku.
Směrová růžice v levém dolním rohu je stejná jako na mapě,
která má stejnou velikost jako deska i jako papírová část šifry.
Podrobnějším zkoumáním se ukáže, že polohy některých os sedí na
polohy stanovišť na mapě, na každou pak umístíme kolečko tak jak
jsme je na daném stanovišti dostali.
Tři kolečka navíc slouží k propojení tam,
kde to topologie trasy vyžadovala.
Poslední úkol je přečíst řešení z papírové části.
Každé číslované kolečko má na sobě gravírovanou malou šipku
(která vypadá jako jeden osten směrové růžice) a dále malou čárku.
Výchozí otočení všech koleček je šipkou nahoru (na sever).
U prvního kolečka je na papírové části mírně zakulacená šipka,
která značí směr otáčení a je ukončená kolmou čárkou - zarážkou.
Otočíme tedy šipku na prvním kolečku ve směru tištěné šipky až k čárce zarážky.
Pak už jen přečteme písmena na které ukazují malé čárky na kolečkách.
Cílové heslo je POLYGRAFIE.
</p>
