<h1>Výsledky</h1>

<table>
  <tr>
    <td rowspan="2">Tým</td>
    <td colspan="11">
      šifra (příchod)</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>2. Turnaj</td>
    <td>3. Rádio</td>
    <td>4. Lasery</td>
    <td>5. Kostičky</td>
    <td>6. LSD</td>
    <td>7. Kolečka a čáry</td>
    <td>8. Hvězdná obloha</td>
    <td>9. Inverzní písmo</td>
    <td>10. Barevné kostičky</td>
    <td>11. Kolečka</td>
    <td>Závěrečné heslo</td>
    <td>Použitých záchran</td>
    <td>Použitých nápověd</td>
    <td>Pořadí</td>
  </tr>
  <tr>
    <td>Párek s křenem</td>
    <td>18:24</td>
    <td>19:27</td>
    <td>?</td>
    <td>20:38</td>
    <td>?</td>
    <td>22:40</td>
    <td>23:38</td>
    <td>1:28</td>
    <td>2:15</td>
    <td>3:10</td>
    <td>4:11</td>
    <td>0</td>
    <td>0</td>
    <td>1.</td>
  </tr>
  <tr>
    <td>Ruo Kokeo</td>
    <td>19:01</td>
    <td>20:29</td>
    <td>?</td>
    <td>21:41</td>
    <td>?</td>
    <td>23:59</td>
    <td>0:57</td>
    <td>4:13</td>
    <td>4:57</td>
    <td>6:30</td>
    <td>7:07</td>
    <td>0</td>
    <td>0</td>
    <td>2.</td>
  </tr>
  <tr>
    <td>mi třy + MECH &amp; co</td>
    <td>19:24</td>
    <td>21:51</td>
    <td>?</td>
    <td>0:12</td>
    <td>2:18</td>
    <td>3:02</td>
    <td>4:19</td>
    <td>6:31</td>
    <td>7:18</td>
    <td>9:06</td>
    <td>9:42</td>
    <td>0</td>
    <td>3</td>
    <td>3.</td>
  </tr>
  <tr>
    <td>Tuleni a lachtan</td>
    <td>18:59</td>
    <td>21:02</td>
    <td>?</td>
    <td>22:04</td>
    <td>23:22</td>
    <td>0:55</td>
    <td>2:28</td>
    <td>4:53</td>
    <td>5:21</td>
    <td>7:41</td>
    <td>11:28</td>
    <td>0</td>
    <td>4</td>
    <td>4.</td>
  </tr>
  <tr>
    <td>pytel mouky</td>
    <td>18:57</td>
    <td>20:57</td>
    <td>?</td>
    <td>22:14</td>
    <td>?</td>
    <td>0:48</td>
    <td>2:00</td>
    <td>3:42</td>
    <td>4:29</td>
    <td>5:50</td>
    <td>7:05</td>
    <td>0</td>
    <td>5</td>
    <td>5.</td>
  </tr>
  <tr>
    <td>Traja čehunov a koc</td>
    <td>20:12</td>
    <td>22:13</td>
    <td>?</td>
    <td>23:31</td>
    <td>1:05</td>
    <td>2:41</td>
    <td>3:55</td>
    <td>5:52</td>
    <td>6:38</td>
    <td>8:45</td>
    <td>9:40</td>
    <td>0</td>
    <td>6</td>
    <td>6.</td>
  </tr>
  <tr>
    <td>Korplus</td>
    <td>19:08</td>
    <td>21:22</td>
    <td>?</td>
    <td>23:14</td>
    <td>1:24</td>
    <td>3:03</td>
    <td>6:10</td>
    <td>7:59</td>
    <td>9:09</td>
    <td>11:00</td>
    <td>--</td>
    <td>1</td>
    <td>4</td>
    <td>7.</td>
  </tr>
  <tr>
    <td>Kosočtvereček</td>
    <td>19:17</td>
    <td>22:18</td>
    <td>?</td>
    <td>1:53</td>
    <td>?</td>
    <td>6:25</td>
    <td>7:45</td>
    <td>9:31</td>
    <td>10:20</td>
    <td>11:40</td>
    <td>--</td>
    <td>3</td>
    <td>?</td>
    <td>8.</td>
  </tr>
  <tr>
    <td>&quot;JOZYXQE&quot;</td>
    <td>19:33</td>
    <td>21:54</td>
    <td>?</td>
    <td>2:21</td>
    <td>?</td>
    <td>6:52</td>
    <td>8:33</td>
    <td>10:21</td>
    <td>11:21</td>
    <td>--</td>
    <td>--</td>
    <td>0</td>
    <td>8</td>
    <td>9.</td>
  </tr>
  <tr>
    <td>Krvilačné slimáky</td>
    <td>18:57</td>
    <td>22:07</td>
    <td>?</td>
    <td>1:17</td>
    <td>?</td>
    <td>5:47</td>
    <td>7:00</td>
    <td>9:40</td>
    <td>10:30</td>
    <td>--</td>
    <td>--</td>
    <td>1</td>
    <td>6</td>
    <td>10.</td>
  </tr>
</table>
