<h1>Pravidla hry</h1>

<ul>
<li>
Hra začíná v pátek 9. 3. v 17:00 na železniční
stanici Česká a končí v sobotu 10. 3. ve 12:00 na
místě s dobrou dopravní dostupností.
</li><li>
Na každém stanovišti si vezměte dvě kopie šifry
a dřevěné kolečko. Jednou kopií šifry se rozumí
jedno kompletní zadání. Sestává-li zadání např.
ze dvou papírů, vezměte si celkem 4 papíry.
Naopak pokud na jednom papíře A4 najdete dvě
identická zadání, berte si papír pouze jeden.
Výjimku představují stanoviště, kde týmy zadání
fyzicky nedostávají. Pozor, kolečko z šifry č. 3
dostanete z technických důvodů až na stanovišti
č. 4.
</li><li>
Vzdálenost mezi dvěma po sobě následujícími
stanovišti je maximálně 2,5 km vzdušnou čarou.
K přesunu během hry je povoleno používat pouze
vlastní nohy, jakékoli dopravní prostředky (auto,
vlak, kolo, hoverboard, ...) jsou zakázány.
</li><li>
K navigaci v terénu slouží mapy, které najdete ve
startovní obálce. Je možné využívat jakékoli jiné
mapy papírové či elektronické nebo i GPS, ale
nejsou k úspěšnému absolvování hry nezbytné.
</li><li>
V textu psaném kurzívou nehledejte šifru.
</li><li>
Ke kódování textu se používá anglická abeceda
(A = 1, Z = 26), není-li z kontextu zřejmé jinak.
</li><li>
Mějte na paměti, že orgové jsou v podstatě svině.
</li>
</ul>

<h2>SMS systém</h2>

<p>
V záhlaví každé šifry najdete kód stanoviště. Po
příchodu na stanoviště pošlete na určené číslo
SMSku v následujícím formátu:<br>
KOLECKO NÁZEV TÝMU KÓD STANOVIŠTĚ<br>
Jmenujete-li se například „Vytuněné mucholapky“ a na
šifře najdete kód stanoviště SVERAK, pošlete na výše
uvedené číslo SMSku:<br>
KOLECKO VYTUNENE MUCHOLAPKY SVERAK<br>
SMSky slouží orgům jednak pro obecný přehled o
průchodu jednotlivých týmů hrou, jednak jsou na ně
vázané nápovědy a záchrany, viz následující sekci.
</p>

<h2>Nápovědy a záchrany</h2>

<p>
Ve startovní obálce najdete zalaminované nápovědy
ke každé šifře, které by vám měly pomoci ve chvíli, kdy
si se šifrou nevíte rady. Nápovědu je možné otevřít
nejdříve 45 minut od odeslání SMSky s kódem.
Protože počet použitých nápověd může ovlivnit vaše
výsledné pořadí, otevírejte pouze ty, které opravdu
potřebujete. Nepoužité zalaminované nápovědy se
budou v cíli odevzdávat orgům.
</p>
<p>
Pokud si ani po otevření nápovědy nedokážete se
šifrou poradit, je možné ještě využít tzv. záchranu. Tu
získáte zavoláním některému z orgů (viz níže), který
vám prozradí polohu následujícího stanoviště,
případně vysvětlí princip šifry, pokud byste si ji rádi
doluštili sami. Obě varianty jsou z hlediska výsledného
pořadí rovnocenné. O záchranu je možné požádat
nejdříve 75 minut od odeslání SMSky s kódem.
</p>
<p>
Pokud byste se z nějakého důvodu hru rozhodli vzdát,
rádi vás i tak uvítáme v cíli, kde se můžete těšit na
guláš a pivo. Polohu cíle vám telefonicky prozradí
kterýkoli z orgů. Dejte nám prosím vědět i v případě,
že do cíle nebudete mít namířeno, ať na vás zbytečně
nečekáme.
</p>

<h2>Cílové pořadí</h2>

<p>
O výsledném pořadí týmů rozhodují následující čtyři
kritéria:
<ol>
<li>
počet vyluštěných šifer
</li><li>
počet nevyužitých záchran
</li><li>
počet nevyužitých nápověd
</li><li>
čas příchodu na poslední stanoviště
</li>
</ol>
Kritéria se aplikují v uvedeném pořadí. Vyhrává tedy
tým, který vyluští nejvíc šifer; v případě shody
rozhoduje o vítězi počet nevyužitých záchran atd.
</p>
