<table class="table">
<% @answers.each do |answer| %>
  <tr class="<%= answer.correct? ? 'correct' : 'incorrect' %>">
    <td><%= answer.created_at.strftime '%H:%M:%S' %></td>
    <td><%= answer.solution %></td>
  </tr>
<% end %>
</table>
