<h1>Seznam registrovaný týmů</h1>

<p>
pytel mouky<br>
Adam, Misis, Zouf
</p><p>
Párek s křenem<br>
Miškot, Lipča, Yeti
</p><p>
Traja čehunov a koc<br>
Rostys, Ondřis, Lukeš, Káťa
</p><p>
mi třy<br>
Michalcová Lenka, Hunal Martin, Nevídalová Hana
</p><p>
"JOZYXQE"<br>
Šárka Theimerová, Pavel Theimer, Martin Pres, Eva Dvořáková
</p><p>
Kosočtvereček<br>
Effendy, Babec, Šerha
</p><p>
Korplus<br>
Eva Koriťáková, Jenda Koriťák, Lenka Kutová
</p><p>
Zderivované konstanty<br>
Jan Šlígl, Michal Šimek, Jiří Gall
</p><p>
Mončičáci<br>
Jakub Grim, Jan Tesař, Katarína Rovenská, (+Ivan Mohelský)
</p><p>
Tuleni a lachtani<br>
David, Kiwi, Tom
</p><p>
Ruo Kokeo<br>
Petr VOP Vozdecký, Martin KARBANÁTEK Jílek
</p><p>
MECH &amp; co<br>
Pavel alias Šimon Mecháček, Bára alias Passy Chleba, Zuzka alias Rumka a Evička
</p><p>
Krvilačné slimáky<br>
Peter Hostačný, Kristína Hostačná, Hana Belšíková
</p><p>
Maj o kolečko vic<br>
Tereza Vlčková, Anna Krchňavá
</p>
