/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ol.css
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0 auto;
}

body {
    color: #ffffff;
    background-color: #222222;
    font-family: Falling Sky;
    font-size: 18px;
}

div {
    border: 0px solid #ffff00;
}

.header {
    background-color: #000000;
    padding: 20px;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
}

.header .hamburger {
    font-size: 18px;
}

.main {
    margin: 60px 0 0 0;
    padding: 20px;
}

.main.map {
    padding: 0;
    height: calc(100vh - 60px);
}

h1 {
    margin: 0px auto;
    padding: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

p.success, p.notice, p.alert {
  border: 1px solid #ffffff;
  padding: 10px;
}

p.success {
  background: #007700;
}

p.alert {
  background: #770000;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyLight.otf');
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyBd.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyLightObl.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyBdObl.otf');
  font-weight: bold;
  font-style: italic;
}

.table, .table th, .table td {
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  padding: 5px 10px;
}

.table th {
  background: #ffffff;
  color: #000000;
}

.table tr:nth-child(odd) {
  background: #333333;
}

.table tr:nth-child(even) {
  background: #000000;
}

.table tr.incorrect {
  background: #770000;
}

.table tr.correct {
  background: #007700;
}
