/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ol.css
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0 auto;
}

body {
    color: #ffffff;
    background-color: #000000;
    font-family: Falling Sky;
    font-size: 18px;
}

div {
    border: 0px solid #ffff00;
}

.header {
    padding: 20px;
    height: 60px;
    box-sizing: border-box;
}

.header .hamburger {
    font-size: 18px;
}

.main {
    margin: 0;
    min-height: calc(100vh - 60px);
    transition: 0.3s;
}

.main.open-menu {
    margin-left: 300px;
}

.menu {
    margin: 0 auto;
    height: 100%;
    width: 0px;
    float: left;
    min-height: calc(100vh - 60px);
    position: fixed;
    z-index: 1;
    transition: 0.3s;
    top: 60px;
    left: 0px;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.9);
}

.menu.open {
    width: 300px;
}

.content {
    margin: 0 auto;
    background-color: #222222;
    min-height: calc(100vh - 100px);
    padding: 20px;
}

h1 {
    margin: 0px auto;
    padding: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

p.success, p.notice, p.alert {
  border: 1px solid #ffffff;
  padding: 10px;
}

p.success {
  background: #007700;
}

p.alert {
  background: #770000;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyLight.otf');
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyBd.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyLightObl.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Falling Sky';
  src: font-url('FallingSkyBdObl.otf');
  font-weight: bold;
  font-style: italic;
}

.table, .table th, .table td {
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  padding: 5px 10px;
}

.table th {
  background: #ffffff;
  color: #000000;
}

.table tr:nth-child(odd) {
  background: #333333;
}

.table tr:nth-child(even) {
  background: #000000;
}

.table tr.incorrect {
  background: #770000;
}

.table tr.correct {
  background: #007700;
}

ul.main-menu,
ul.submenu {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-item {
  display: block;
  position: relative;
  padding: 15px 15px 15px 52px;
  cursor: pointer;
  transition: 0.4s;
  white-space: nowrap;
}

.menu-item i {
  position: absolute;
  top: 17px;
  left: 17px;
}

.menu-item .fa-angle-down {
  left: 270px;
  transition: 0.1s;
}

.menu-item.open .fa-angle-down {
  transform: rotate(180deg);
}

.menu-item:hover {
  background: #550000;
}

ul.submenu {
  display: none;
}

.submenu-item {
  display: block;
  padding: 15px 15px 15px 45px;
  background: rgba(52, 52, 52, 0.9);
  white-space: nowrap;
}
