// Place all the styles related to the HintRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star-rating {
  cursor: pointer;
}

.star {
  display: inline;
}
