// Place all the styles related to the Puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
   width: 100%;
   height: calc(100vh - 150px);
}

.puzzle_solution, .puzzle_hint {
   display: none;
}

.hint_link:hover, .solution_link:hover {
   color: #ffff00;
   cursor: pointer;
}
