<h1>Hlavní šifry</h1>

  <%= form_for @unlocked_main, url: pruchod_hlavni_odkryt_path do |form| %>
    <div class="actions">
      <%= form.submit 'Odkrýt polohu hlavní šifry' %>
    </div>
  <% end %>
